
body, html {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #08101a; 
    color: white !important;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*SECTION PRINCIPAL DEL INDEX Y ACERCA DE:*/

.section-desplazable{
    padding-top: 2vh;
    position: relative;
    width: 100%;
    height: 55vh;
    overflow: hidden;
}

.slider-imagenes {
    position: relative;
    width: 100%;
    height: 100%;
}


.slider-imagenes img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    
    position: absolute;
    top: 0;
    left: 0;
    /*agregar transition:   transition: opacity 1s ease-in-out; */
}

button.anterior, button.siguiente {
    position: absolute;
    top: 45%;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    padding: 1em;
    cursor: pointer;
}

button.anterior {
    left: 0.5em;
}

button.siguiente {
    right: 0.5em;
}

.acerca-de{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 8%; 
    text-align: center;
    color: rgb(74, 90, 160);
}
.acerca-de p{
    margin-top: 80px;
    font-size: 22px;
    
}


.informacion-index{
    /* width: 70vh; */
    /* height: 70vh; */
    /* display: flex; */
    padding: 5rem 0rem ;  
    text-align:center;
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    gap: 10rem
    
}

.columna-navegacion,
.columna-envio,
.columna-redes,
.columna-contacto{
    align-self: flex-end;    
}
@media screen and (max-width: 1320px) {
    .informacion-index{
        
        gap: 5rem
    }

}
@media screen and (max-width: 750px) {
    .informacion-index{
        grid-template-columns: repeat(2, 1fr) ;
        gap: 2rem
    }

}









/*--------------------------------------*/







section {
    padding: 40px 0;
}

.carousel-item img {
    width: 100%;
    height: auto; 
    max-height: 400px;
    object-fit: contain; 
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    background-image: none;
    width: 30px;
    height: 30px;
}

.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: solid black;
}

.carousel-control-prev-icon::after {
    border-width: 0 4px 4px 0;
    transform: rotate(135deg);
    margin-left: 5px;
}

.carousel-control-next-icon::after {
    border-width: 0 4px 4px 0;
    transform: rotate(-45deg);
    margin-right: 5px;
}


