*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    /* position: relative; */
    background-color: #ecf0f1;
    color: #000;
}

.header-layout {
    /* margin-bottom: 20px; */
    background-color: #181819;
}

.header-layout  .navbar-brand {
    font-weight: bold;
    color: white !important;
}

.header-layout .navbar-nav .nav-link {
    color: white !important;
}
button { border: none !important; }
button:focus { outline: none !important; }

.carrito-container {
    width: 100px;
    color: #3498db;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
.main, .footer { position: relative; }
.footer {
    background-color: black;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}