*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}



/* VISTA PRINCIPAL */




.contenido{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.footer-productos{
    position: relative;
    margin-top: 1rem;
}




/* ASAIDE */




.aside-products{
    padding: 2rem;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;
}
.menu-aside{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.btn-menu{
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 2em;
    cursor: pointer;
    transition: 0.3s;

}
.btn-menu:hover{
    color: #000a;
}
.selected{
    color: #3498db;
}


/* PRODUCTOS */



.title-main-products{
    padding: 2rem;
}
.main-products{
    /* padding: 2rem; */
    display: flex;
    justify-content: center;
}

.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  
}
.header-products, .close-filter{
    display: none;
}




/* CARD  */





.contenedor-detalle{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.card_product{
    width: 300px;
    /* height: 450px; */
    background-color: #fff;
    border: 1px solid #0002 ;
    border-radius: 3%;
    padding: 1rem;
    transition: box-shadow 0.3s;
}
.card_product:hover{
    box-shadow:  0px 0px 30px #0006;
}
.contenedor{
    display: flex;
    justify-content: center;
    
}
.img_product{
    max-width: 100%;
    height: 280px;
}
.line{
    border-bottom: 2px solid #0002;
    margin-bottom: 5%;
}
.title_product{
    font-size: 1.3em;
    font-weight: 100;
    color: #0005;
}
.price_product{
    font-size: 1.3em;
    font-weight: 100;
}

.add_cart{
    background-color: #3498db;
    font-size: 1.4em;
    border: none;
    border: 1px solid #3498db;
    border-radius: 0.3rem;
    color: #fff;

    padding: 5px 30px; 
    cursor: pointer;
    transition: background-color 0.2s ;
}
.add_cart:hover{
    background-color: #fff; 
    color: #3498db;
}






/* QUERYS */





@media screen and (max-width: 1720px) {
    .products{
        grid-template-columns: repeat(3, 1fr) ;
        gap: 1rem
    }

}
@media screen and (max-width: 1320px) {
    .products{
        grid-template-columns: repeat(2, 1fr) ;
        gap: 1rem
    }

}


@media screen and (max-width: 840px) {

    .contenido{
        grid-template-columns: 1fr;
    }
    .aside-products{
        position: fixed;
        z-index: 9;
        background-color: #fff;
        box-shadow: 0 0 0 100vmax #0005;
        left: 0;
        padding: 4rem;
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: 0.2s;
    }
    .open-aside{
        transform: translate(0);
        opacity: 1;
        visibility: visible;
    }
    .products{
        grid-template-columns: 1fr ;
        gap: 1rem
    }
    .header-products{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mobile-filter{
        background-color: transparent;
        
       
    }
    .open-filter, .close-filter{
        background-color: transparent;
        border: 0;
        /* color: #3498db; */
        color: #000c;
        cursor: pointer;
        
    }
    .no-mobile{
        display: none;
    }
    .close-filter{
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    .title-main-products{
        padding: 2rem 1rem;
    }
  
}
