.products{
   
}
.card_product{
    width: 300px;
    height: auto;
    background-color: #fff;
    padding: 20px;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_product{
    width: 200px;
    height: 200px;
}
.line{
    border-bottom: 2px solid #0005;
}

.price_product{
    padding: 5px;
    font-size: 1.3em;
    font-weight: 700;

}
.title_product{
    padding: 5px;
    font-size: 1.3em;
    font-weight: 700;
}
.add_cart{
    background-color: rgba(188, 206, 251, 0.466);
    font-size: 1.4em;
    border: none;
    border-radius: 5px;
    color: rgb(83, 143, 255);
    padding: 5px 30px;
    margin-top: 20px;
    cursor: pointer;
}